* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #d4d4d4;
}

body {
    background-color:#000B20;
}


/* Navigation Bar */
.navbg {
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent layer */
  width: 100%;
  position: fixed;
  padding: 14px;
  box-sizing: border-box;
}

.nav .name {
  font-style: normal;
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav .others{
  margin-left: 30px;
}

.nav a {
  font-style: normal;
  font-weight: lighter;
  float: right;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px !important;
  z-index: 2;
  padding: 10px 16px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
}

.nav a.active {
  background-color: #d4d4d4;
  color: white;
}


/* Image Header */
.image-header img{
  width: 100%;
}


/* Title */
.home{
 margin-top: 20px;
 justify-content: center;
 text-align: center;
 align-items: center;
 line-height: 80px;
}

.home h1{
  font-size: 96px;
  font-weight: bold;
}

.home h2{
  font-size: 48px;
  color: #50E8F9;
  border-bottom: 2px solid rgb(255, 255, 255);
  display: inline-block;
  font-weight: lighter;
}

.home h3{
  margin-top: -20px;
  font-size: 30px;
}

/* Profile */
.profile{
 position: absolute;
 margin-top: 350px;
}
